<div class="container">
    <h2 class="text account fw-bold">ACCOUNTS</h2>

    <div class="d-flex flex-column">
        <div class="d-flex w-100 bank-account">
            <div class="d-flex w-50">
                <img src="/assets/images/Maribank.png" alt="Maribank Logo" />
                <label class="text">Maribank</label>
            </div>

            <span class="text w-50 text-end">3,200.00</span>
        </div>
    </div>
</div>

@code {

}
