body {
}

.balance {
    font-size: 36px;
    color: white;
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    padding: 16px 24px;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
}

.balance-card {
    padding: 20px;
}

.text {
    color: var(--text-color);
}

.currency {
    font-size: 24px;
}

.total-balance {
    font-size: 64px;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
