<div class="container balance-card-shadow">
    <h2 class="balance fw-bold">TOTAL BALANCE</h2>

    <div class="d-flex flex-column align-items-center w-100 balance-card">
        <div class="d-flex align-items-center gap-4">
            <p class="text currency align-self-start fw-bold">PHP</p>
            <h1 class="text total-balance text-start fw-bold">20,540.00</h1>
        </div>

        <div class="d-flex gap-3">
            <p class="text fw-bold">
                Interest
                <label class="green form-check-label" for="switchCheckChecked">included</label>
                <span class="red">**</span>
            </p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckChecked" checked>
            </div>
        </div>
    </div>
   
</div>


@code {

}
