<div class="container">
    <div class="d-flex justify-content-space-between w-100 gap-4">

        <div class="d-flex flex-column balance-card interest-bg w-100 gap-4">
            <h3 class="green currency-summary fw-bold">INTEREST</h3>
            <div class="d-flex">
                <h3 class="text currency-summary fw-bold">PHP</h3>
                <h2 class="text total-balance fw-bold w-100 text-center">540.00</h2>
            </div>
        </div>

        <div class="d-flex flex-column balance-card target-bg w-100 gap-4">
            <h3 class="target currency-summary fw-bold">TARGET</h3>
            <div class="d-flex">
                <h3 class="text currency-summary fw-bold">PHP</h3>
                <h2 class="text total-balance fw-bold w-100 text-center">100,000.00</h2>
            </div>
        </div>

        <div class="d-flex flex-column balance-card expenses-bg w-100 gap-4">
            <h3 class="expense currency-summary fw-bold">EXPENSES</h3>
            <div class="d-flex">
                <h3 class="text currency-summary fw-bold">PHP</h3>
                <h2 class="text total-balance fw-bold w-100 text-center">5,000.00</h2>
            </div>
        </div>
    </div>
    

</div>

@code {

}
