.navbar-container {
    height: 68px;
    width: 100%;
    padding: 8px 36px;
    background-color: var(--primary-color);
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.1));
    position: fixed;
    z-index: 2;
}

.logo-image {
    height: 50px;
    width: 50px;
}

.logo-text {
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.navbar-list {
    gap: 16px;
}

.nav-item {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.nav-link {
    padding: 10px;
    border-radius: 8px;
}

.goal-btn {
    background-color: var(--secondary-color);
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.username {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

