<nav class="navbar-container d-flex align-items-center gap-5">

    <div class="d-flex gap-2">
        <img src="/assets/images/FundTrackerLogo.png" class="logo-image" alt="FundTracker Logo" />
        <a href="#" class="logo-text m-0 align-self-center">FundTracker</a>
    </div>

    <div class="d-flex justify-content-between w-100">

        <div>
            <ul class="d-flex m-0 p-0 navbar-list align-items-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> Banks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> Transactions </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> About </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"> Help </a>
                </li>

                <li>
                    <button class="nav-item goal-btn">Set Goal</button>
                </li>
            </ul>
        </div>

        <div class="d-flex gap-2">
            <img src="/assets/icons/profile.svg" alt="Profile Logo" />
            <div class="d-flex gap-2 align-items-center">
                <span class="username">User101</span>
                <img src="/assets/icons/caret-down.svg" class="icon" alt="Caret Down" />
            </div>
        </div>
    </div>
</nav>

@code {

}
