:root {
    --primary-color: #513EC0;
    --secondary-color: #29AEDB;
    --text-color: #0B1E51;
    --background: linear-gradient(to bottom, #FFFFFF 0%, #DBE9F7 100%);
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--background); 
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style-type: none;
}

    ul li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }

        ul li a:hover {
            background-color: #3D2D98;
        }

.text {
    color: var(--text-color);
}

.green, .income {
    color: #52B356;
}

.red, .expense {
    color: #E93541;
}

.icon {
    width: 20px;
    height: 20px;
}

.options-btn {
    background: none;
    border: none;
}

/* Account and Transaction List Style  */

.account-btn, .transaction-btn {
    color: white;
    background-color: var(--primary-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 8px 10px;
}

.bank-account, .transaction-list {
    background-color: white;
    padding: 4px 16px;
    border-radius: 8px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.1));
}

.bank-text, .transaction-text, .sort {
    font-weight: 600;
    font-size: 14px;
}

.view-btn {
    font-size: 13px;
    font-weight: 600;
    background: none;
    border: none;
    width: fit-content;
}